.form-horizontal .form-submit {
   margin-top: 10px;
   border-top: 1px solid #ccc;
   padding-top: 15px;
}

.form-horizontal .form-submit .btn {
   padding: 8px 20px 6px;
}

/*.language-form .control-group .controls .overlap-overflow {
  position: absolute;
  width: 300px;
}*/

.form-horizontal input, .form-horizontal select {
  height: 24px;
}
