/*.modal {
  background: transparent;
}*/


/*@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}*/


.animated-appear,
.animated-enter {
  opacity: 0.01;
}

.animated-appear.animated-appear-active,
.animated-enter.animated-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.animated-leave {
  opacity: 1;
}

.animated-leave.animated-leave-enter {
  opacity: 0.01;
  transition: opacity 300ms linear;
}

.app-alert {
  width: 400px;
  position: fixed;
  display: block;
  top: 100px;
  right: 50px;
}
