.app-container {
  position: relative;
}

.table.table-bordered {
  border-radius: 0;
}

.table td.flag-icon-box,
.table th.flag-icon-box {
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

.table .error {
  border-color: #b94a48;
}

.table .error.invalid-data td {
  vertical-align: top;
}

.table .error td .help-inline {
  color: #b94a48;
}

.table .error input {
  border-color: #b94a48;
}

.table .error .Select-control {
  border-color: #b94a48;
}

.table td a {
  /*color: #08c;*/
  margin: auto 4px;
  color: #333;
  background-color: #e6e6e6;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.5;

  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #b5b5b5;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table td a.danger-btn {
  background: #da4f49;
  border-color: #000000;
  color: #000;
}

.table td a.submit-btn {
  background: #5bb75b;
  border-color: #387038;
  color: #fff;
}

.table td {
  vertical-align: middle;
}

.table .progress {
  margin-bottom: 0;
}

@-webkit-keyframes move-progress {
  0% { width:0% }
  100% { width:100%; }
}

@keyframes move-progress {
  0% { width:0% }
  100% { width:100%; }
}

.table .progress .bar {
  -webkit-animation: move-progress 3s infinite linear;
  animation: move-progress 3s infinite linear;
}

.tabbable.tabs-left {
  display: flex;
  align-items: stretch;
}

.tabbable.tabs-left .tab-content {
  flex-basis: 86%;
  overflow: visible;
  min-height: 110px;
}

.loader-container {
  font-size: 1.4em;
  height: 100%;
  text-align: center;
  width: 100%;
}
